/node_modules
/public/hot
/public/storage
/storage/queue-logs/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
/app/Logic/Curl/cookie*
/app/Logic/Curl/curl-*